bot-list {
  table {
    border-collapse: collapse;
    margin-left: 5px;
  }
  td, th {
    border: 1px solid #DDD;
    padding: 5px;
  }
  th {
    position: relative;
  }

  main a[href] {
    color: #1F78B4;
  }

  /* These things can be inside a selector, and are similar in style*/
  .item, .information_only {
    border-bottom: 1px solid #EEE;
    max-width: 250px;
    min-height: 1.0em;
    min-width: 100px;
    padding: 0.1em 0.2em;
    line-height: 1.5em;
  }

  .item {
    display: flex;
    checkbox-sk {
      margin: 2px auto;
    }
  }

  .header {
    display: flex;
    flex-direction: row;

    .filter_box {
      margin-bottom: 5px;
      max-width: 1050px;
    }

    .summary {
      padding: 5px;
      border-left: 1px solid black;
    }
  }



  .selector {
    border: 1px solid black;
    margin: 0 5px;
    max-height: 200px;
    min-height: 130px;
    min-width: 255px;
    overflow-y: auto;
    display: inline-block;
    vertical-align: top;
  }

  .flex {
    flex: 1; /* expand to all available space */
  }

  .search {
    display: block;
    min-width: calc(100% - 10px);
    margin: 5px;
  }

  .options {
    display: inline-block;

    .verbose > * {
      display: inline-block
    }

    input, a {
      display: block;
    }

  }


  .old_version {
    background-color: #ffffdd;
  }
  .quarantined, .bad-device {
    background-color: #ffdddd;
  }
  .maintenance {
    background-color: #cee9f9;
  }
  .dead {
    background-color: #cccccc;
  }
  .alt {
    background-color: #f8f8f8;
  }

}